<h1>Permissões</h1>

<table class="table table-bordered display" id="permitido">
  <thead>
    <tr>
      <th>Usuário</th>
      <th>Perfil</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @permitidos.each do |permitido| %>
      <tr>
        <td><%= permitido.usuario.nomeUsuario %></td>
        <td><%= permitido.perfil.tipo %></td>
        <td class="text-center"><%= link_to 'Mostrar', permitido, class: "btn btn-default" %></td>
        <td class="text-center"><%= link_to 'Editar', edit_permitido_path(permitido), class: "btn btn-primary active" %></td>
        <td class="text-center"><%= link_to 'Apagar', permitido, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-danger active" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar permissão', new_permitido_path, class: "btn btn-primary active" %>
