<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html, utf-8"  http-equiv="Content-Type" />    <!--utf-8 erro-->
  </head>
  <body>
    <h1>Infoticket - altera&ccedil;&atilde;o de status</h1>
    <p>

    </p>

    <p> Ol&aacute;, usu&aacute;rio <%=@user%>, o chamado com o t&iacute;tulo de: <strong><%=@chamado.titulo%></strong></p>

    <p> E com a ID <strong><%=@chamado.id%></strong>. </p>

    <p> Teve seu status alterado para: <strong><%= @chamado.status %></strong> </p>

    <p> Sua solicita&ccedil;&atilde;o est&aacute; encaminhada para: <strong><%= @chamado.tecnico %></strong> ,qualquer d&uacute;vida, favor entrar em contato com ele no ramal 917278.</p>

    <p> Para maiores informa&ccedil;&otilde;es acesse <a href=http://watson.icb.usp.br/infoticket/>Infoticket</a>.</p>

<!-- Alterado 31/03/2015 -->

  </body>
</html>

