



<h1>Lista de comentários</h1>

<table id="comentarios" class="table table-bordered display">

  <thead>
    <tr>
      <th>Num. chamado:</th>
      <th>Criado Em:</th>
      <th>T&eacute;cnico</th>
      <th>Descri&ccedil;&atilde;o</th>
      <th>Conte&uacute;do</th>
    </tr>
  </thead>
  <tbody>
  <% @comentarios.each do |comentario| %>
   <tr>
     <td><%=link_to comentario.chamado.id , comentario %></td>
    <td><%= comentario.created_at.strftime("%d/%m/%Y") %></td>
     <td>
       <% if comentario.chamado.id > 773 %>
            <%= comentario.usuario.nomeUsuario %>
        <% else %>
           <%= comentario.user.nome %>
        <% end %>
     </td>
    <td><%= comentario.chamado.descricao %></td>
    <td><%= comentario.conteudo %></td>
   </tr>
   <% end %>

 </tbody>
</table>