

<div class="page-header">
  <h1>Avisos</h1>
</div>
<table id="avisos" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th> Id </th>
      <th> Avisos </th>
      <th> Criado em </th>
      <th> Açoes</th>
    </tr>
  </thead>
  <tbody>
    <% @aviso.each do |aviso| %>
      <tr>
        <td><%= link_to aviso.id, aviso_path(aviso) %></td>
        <td><%= aviso.quadro_de_avisos %></td>
        <td><%= aviso.created_at.strftime("%d/%m/%Y %H:%M") %></td>
        <td>
          <%= link_to "Editar",edit_aviso_path(aviso), :class => 'btn btn-default' %>
          <%= link_to "Apagar",aviso_path(aviso), :method => :delete,:data => { :confirm =>  "Tem certeza?" },:class => 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Novo aviso", new_aviso_path,:class => 'btn btn-primary' %>
