
<%- model_class = Aviso -%>
<div class="page-header">
  <h1> Avisos</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:quadro_de_avisos) %>:</strong></dt>
  <dd><%= @aviso.quadro_de_avisos %></dd>
</dl>

<div class="form-actions">
  <%= link_to "Voltar", avisos_path, :class => 'btn btn-primary active'  %>
  <%= link_to "Editar",  edit_aviso_path(@aviso), :class => ' btn btn-default' %>
  <%= link_to "Apagar", aviso_path(@aviso), :method => 'delete', :data => { :confirm => "Tem certeza" },:class => 'btn btn-danger' %>
</div>

