<script type="text/javascript">

    $(document).ready(function() {
        $('#chamados').dataTable({

            "aaSorting": [],
            "bPaginate": true,
            "iDisplayLength": 25,
 		"oLanguage": {
                "sProcessing":   "Processando...",
                "sLengthMenu":   "Mostrar _MENU_ registros",
                "sZeroRecords":  "Sem resultados",
                "sInfo":         "Mostrando de _START_ ate _END_ de _TOTAL_ registros",
                "sInfoEmpty":    "Mostrando de 0 ate 0 de 0 registros",
                "sInfoFiltered": "(filtrado de _MAX_ registros no total)",
                "sInfoPostFix":  "",
                "sSearch":       "Buscar:",
                "sUrl":          "",
                "oPaginate": {
                    "sFirst":    "Primeiro",
                    "sPrevious": "Anterior",
                    "sNext":     "Seguinte",
                    "sLast":     "Ultimo"
                }
            }
        });
    });

</script>

<style type="text/css">
  .aviso {
      color: red;
  }
</style>


<div class="page-header">
  <h1> Chamados</h1>
</div>


<div class="aviso" align="center">
  <% if session[:avisa] == true %>
      <h3> <%= @aviso %> </h3>
  <% end %>
</div>



<table id= "chamados" class="table table-striped" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" >
  <thead>
  <tr>
    &nbsp;
    <th>Num. Chamado:</th>
    <th>Data:</th>
    <th>Título:</th>
    <th>Usuário </th>
    <th>Ramal:</th>
    <th>Departamento </th>
    <th>Local:</th>
    <th>Prédio:</th>
    <th>Num. Patrimonio:</th>
    <th>Status:</th>
    <th>Resp. técnico:</th>
    <% if session[:perfil].include? "Administrador"  %>
        <th>Observação</th>
    <% end %>

  </tr>
  </thead>
       <tbody>
       <% @chamados.each do |chamado| %>
           <tr>
             <td><%=link_to chamado.id , edit_chamado_path(chamado) %>  <%= link_to "Mostrar", chamado_path(chamado) %></td>  <!--link para editar o chamado -->
             <td><%= chamado.created_at.strftime("%d/%m/%Y") %></td>
             <td><%= chamado.titulo  %></td>
             <% if chamado.id > 1252 %>
                 <td><%= chamado.usuario.nomeUsuario %> </td>
                  <% d = chamado.usuario.numeroTelefoneFormatado.split(":") %>
                 <td><%= d[1].to_i %></td>
                 <% if session[:perfil].include? "Comum" %>
                    <td> <%= @tipo_vinculo.nomeSetor %> </td>
                 <% else %>
                 <td>
                   <% @tipo_vinculo = TipoVinculo.where(usuario_id: chamado.usuario_id) %>
                   <% @tipo_vinculo.each do |tv| %>
                        <%= tv.nomeSetor %>
                    <% end %>
                 </td>
                 <% end %>
             <% else %>
                 <td><%= chamado.user.nome   %></td>
                 <td><%= chamado.user.ramal  %></td>
                 <td><%= chamado.user.departamento %> </td>
             <% end %>
             <td><%= chamado.sala %></td>
             <td><%= chamado.predio %></td>
             <td><%= chamado.patrimonio %></td>
             <td><%= chamado.status %></td>
             <td><%= chamado.tecnico %></td>
             <% if session[:perfil].include? "Administrador" %>
                 <td><%= chamado.obs %></td>
             <% end %>

           </tr>
       <% end %>
      </tbody>
      </table>
<a class="btn btn-primary" <%= link_to ("Novo"),  new_chamado_path%></a>
<% if session[:perfil].include? "Administrador" %>
    <a class="btn btn-success"<%= link_to ('Resumo'), :controller => 'chamados', :action => 'resumo' %> </a>
    <a class="btn btn-info"<%= link_to ('Resumo Admin'), :controller => 'chamados', :action => 'resumopp' %> </a>
<% end %>