

<h1>Usuários</h1>


<table id="usuarios" class="table table-bordered display">
  <thead>
  <tr>
    <th class="text-center">Login</th>
    <th class="text-center">Nome </th>
    <th class="text-center">  E-mail Principal </th>
    <th class="text-center"> Ramal</th>
    <th class="text-center"> Departamento</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @usuarios.each do |usuario| %>
      <% @tv = TipoVinculo.where(usuario_id: usuario.id) %>
      <% @tv.each do |t| %>
          <tr>
            <td><%= usuario.loginUsuario %></td>
            <td><%= usuario.nomeUsuario %></td>
            <td><%= usuario.emailPrincipalUsuario %> </td>
            <% d= usuario.numeroTelefoneFormatado.split(":") %>
            <td><%= d[1].to_i %></td>
            <td><%= t.nomeSetor %>  </td>
            <td class="text-center"><%= link_to 'Mostrar', usuario, class: "btn btn-default" %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>