<!DOCTYPE html>
<html>




<head>
  <!--<meta charset="utf-8" />-->

  <title>Sistema de chamados-ICB/USPt</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>




<body>


<div class="navbar navbar-top navbar-inverse">
  <div class="navbar-inner" >
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" >

        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Infoticket</a>
      <div class="nav-collapse">
        <ul class="nav">
          <% if session[:perfil].include? "Comum" %>
              <li> <%= link_to  'Chamados', chamados_path %></li>
          <% elsif session[:perfil].include? "Administrador" %>
                    <li><%= link_to  'Chamados', chamados_path %></li>
                    <!-- <li> < %= link_to 'Usuarios', :controller => "users" , :action => "index" %></li> -->
                    <li> <%= link_to 'Usuarios', usuarios_path %> </li>
                    <li><%= link_to 'Novo aviso', new_aviso_path %></li>
                    <li><%= link_to 'Comentarios', :controller => "comentarios" , :action => "index" %></li>
                    <li><%= link_to 'Relatorio', :controller => "chamados", :action => "relatorio" %></li>
                    <li><%= link_to 'Logs', logs_path %> </li>
                    <li><%= link_to 'Perfis', perfils_path %> </li>
                    <li><%= link_to 'Permitidos', permitidos_path %>  </li>
          <% end %>
          <li><%= link_to "Log out", logout_path %>  </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
<%= yield %>
</div>
</body>
</html>



